<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MarkerObjectList</key>
	<array>
		<dict>
			<key>latitude</key>
			<real>0</real>
			<key>longitude</key>
			<real>0</real>
			<key>crime</key>
			<real>0</real>
		</dict>
		<dict>
			<key>latitude</key>
			<real>33.76952</real>
			<key>longitude</key>
			<real>-84.39097</real>
			<key>crime</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>latitude</key>
			<real>33.77011984</real>
			<key>longitude</key>
			<real>-84.39135352</real>
			<key>crime</key>
			<real>4</real>
		</dict>
		<dict>
			<key>latitude</key>
			<real>33.77131</real>
			<key>longitude</key>
			<real>-84.392067</real>
			<key>crime</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>latitude</key>
			<real>33.771335</real>
			<key>longitude</key>
			<real>-84.388862</real>
			<key>crime</key>
			<real>1</real>
		</dict>
		<dict>
			<key>latitude</key>
			<real>33.7720907</real>
			<key>longitude</key>
			<real>-84.39166018</real>
			<key>crime</key>
			<real>3</real>
		</dict>
		<dict>
			<key>latitude</key>
			<real>33.77413608</real>
			<key>longitude</key>
			<real>-84.39881801999999</real>
			<key>crime</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>latitude</key>
			<real>33.77546401</real>
			<key>longitude</key>
			<real>-84.40349901</real>
			<key>crime</key>
			<real>4</real>
		</dict>
		<dict>
			<key>latitude</key>
			<real>33.775955</real>
			<key>longitude</key>
			<real>-84.393657</real>
			<key>crime</key>
			<real>7</real>
		</dict>
		<dict>
			<key>latitude</key>
			<real>33.77607454</real>
			<key>longitude</key>
			<real>-84.39299968</real>
			<key>crime</key>
			<integer>16</integer>
		</dict>
		<dict>
			<key>latitude</key>
			<real>33.77632934</real>
			<key>longitude</key>
			<real>-84.38995185</real>
			<key>crime</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>latitude</key>
			<real>33.777007</real>
			<key>longitude</key>
			<real>-84.405706</real>
			<key>crime</key>
			<real>8</real>
		</dict>
		<dict>
			<key>latitude</key>
			<real>33.77716232</real>
			<key>longitude</key>
			<real>-84.39618136</real>
			<key>crime</key>
			<real>11</real>
		</dict>
		<dict>
			<key>latitude</key>
			<real>33.77895641</real>
			<key>longitude</key>
			<real>-84.40131466</real>
			<key>crime</key>
			<real>11</real>
		</dict>
		<dict>
			<key>latitude</key>
			<real>33.78012873</real>
			<key>longitude</key>
			<real>-84.40513865</real>
			<key>crime</key>
			<real>1</real>
		</dict>
		<dict>
			<key>latitude</key>
			<real>33.7736039</real>
			<key>longitude</key>
			<real>-84.39624483</real>
			<key>crime</key>
			<real>3</real>
		</dict>
		<dict>
			<key>latitude</key>
			<real>33.7741731</real>
			<key>longitude</key>
			<real>-84.40058313999999</real>
			<key>crime</key>
			<real>4</real>
		</dict>
		<dict>
			<key>latitude</key>
			<real>33.77696792</real>
			<key>longitude</key>
			<real>-84.40050269</real>
			<key>crime</key>
			<real>3</real>
		</dict>
		<dict>
			<key>latitude</key>
			<real>33.777138</real>
			<key>longitude</key>
			<real>-84.38767199999999</real>
			<key>crime</key>
			<real>3</real>
		</dict>
		<dict>
			<key>latitude</key>
			<real>33.77884514</real>
			<key>longitude</key>
			<real>-84.39847657999999</real>
			<key>crime</key>
			<real>1</real>
		</dict>
		<dict>
			<key>latitude</key>
			<real>33.77910743</real>
			<key>longitude</key>
			<real>-84.40662487</real>
			<key>crime</key>
			<real>15</real>
		</dict>
		<dict>
			<key>latitude</key>
			<real>33.78122</real>
			<key>longitude</key>
			<real>-84.40333207</real>
			<key>crime</key>
			<real>2</real>
		</dict>
		<dict>
			<key>latitude</key>
			<real>33.78238002</real>
			<key>longitude</key>
			<real>-84.39595556</real>
			<key>crime</key>
			<real>2</real>
		</dict>
		<dict>
			<key>latitude</key>
			<real>33.78150171</real>
			<key>longitude</key>
			<real>-84.39502114</real>
			<key>crime</key>
			<real>3</real>
		</dict>
		<dict>
			<key>latitude</key>
			<real>33.78622296</real>
			<key>longitude</key>
			<real>-84.40614361</real>
			<key>crime</key>
			<real>1</real>
		</dict>
		<dict>
			<key>latitude</key>
			<real>33.77540104</real>
			<key>longitude</key>
			<real>-84.38460202</real>
			<key>crime</key>
			<real>1</real>
		</dict>
	</array>
</dict>
</plist>
